extends layout 

block head 
    title Questions - FCoder 

block style 
    style 
        include ./questions.css

block content 
    .home-section 
        .questions-container 
            ul.questions-list 
                li.question.d-flex 
                    .metadata.d-flex 
                        .y-flex.vote 
                            span.number 0
                            span.meta-text votes 
                        .y-flex.reply 
                            span.number 0
                            span.meta-text reply 
                        .y-flex.views  
                            span.number 0
                            span.meta-text views 
                    .body.y-flex
                        a.title(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit neque turpis, vel tempor turpis tincidunt ut.
                        .d-flex.footer
                            .y-flex 
                                a.username(href="#") Username 
                                small.date asked at Saturday, 25/9/2021
                            ul.tags-list.d-flex
                                li.tag 
                                    a(href="#")  html
                                li.tag 
                                    a(href="#")  css
                                li.tag 
                                    a(href="#")  js 
                                li.tag 
                                    a(href="#")  nodejs
                li.question.d-flex 
                    .metadata.d-flex 
                        .y-flex.vote 
                            span.number 0
                            span.meta-text votes 
                        .y-flex.reply 
                            span.number 0
                            span.meta-text reply 
                        .y-flex.views  
                            span.number 0
                            span.meta-text views 
                    .body.y-flex
                        a.title(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit neque turpis, vel tempor turpis tincidunt ut.
                        .d-flex.footer
                            .y-flex 
                                a.username(href="#") Username 
                                small.date asked at Saturday, 25/9/2021
                            ul.tags-list.d-flex
                                li.tag 
                                    a(href="#")  html
                                li.tag 
                                    a(href="#")  css
                                li.tag 
                                    a(href="#")  js 
                                li.tag 
                                    a(href="#")  nodejs
                li.question.d-flex 
                    .metadata.d-flex 
                        .y-flex.vote 
                            span.number 0
                            span.meta-text votes 
                        .y-flex.reply 
                            span.number 0
                            span.meta-text reply 
                        .y-flex.views  
                            span.number 0
                            span.meta-text views 
                    .body.y-flex
                        a.title(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit neque turpis, vel tempor turpis tincidunt ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit neque turpis, vel tempor turpis tincidunt ut.
                        .d-flex.footer
                            .y-flex 
                                a.username(href="#") Username 
                                small.date asked at Saturday, 25/9/2021
                            ul.tags-list.d-flex
                                li.tag 
                                    a(href="#")  html
                                li.tag 
                                    a(href="#")  css
                                li.tag 
                                    a(href="#")  js 
                                li.tag 
                                    a(href="#")  nodejs